{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h1>Category edit</h1>

    {% if not edit_form.vars.valid %}
    <div class="alert alert-danger">
        <p>
        {{ form_errors(edit_form.name) }}
        </p>
        <p>
        {{ form_errors(edit_form.description) }}
        </p>
        <p>
        {{ form_errors(edit_form.tags) }}
        </p>
        <p>
        {{ form_errors(edit_form.code) }}
        </p>
        <p>
        {{ form_errors(edit_form.position) }}
        </p>

    </div>
    {% endif %}

    {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="form-group">
            <label>Category name</label>
            {{ form_widget(edit_form.name) }}
        </div>
        <div class="form-group">
            <label>Description</label>
            {{ form_widget(edit_form.description) }}
        </div>
        <div class="form-group">
            <label>Tags</label>
            {{ form_widget(edit_form.tags) }}
        </div>
        <div class="form-group">
            <label>Code</label>
            {{ form_widget(edit_form.code) }}
        </div>
        <div class="form-group">
            <label>Position</label>
            {{ form_widget(edit_form.position) }}
        </div>
    {{ form_end(edit_form) }}
    <a href="{{ path('category_index') }}">List cateogry</a>
</div>
{% endblock %}
