{% extends 'base.html.twig' %}

{% block body %}

    <div>
        {% for message in app.flashes('success') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        <h1>Categories list</h1>
        {% if categories is empty %}
        <p>Data is empty</p>
            <p>
                <a href="{{ path('category_add') }}">
                    Add category
                </a>
            </p>
        {% else %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Slug</th>
                    <th>Tags</th>
                    <th>Status</th>
                    <th>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('category_add') }}">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                    </th>
                </tr>
                </thead>
                <tbody>


                {% for category in categories %}
                    <tr>
                        <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.description }}</td>
                        <td>{{ category.slug }}</td>
                        <td>{{ category.tags }}</td>
                        <td>{% if category.status %}Yes{% else %}No{% endif %}</td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('category_delete', { 'id': category.id }) }}" title="Delete">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>

                            <a href="{{ path('category_edit', { 'id': category.id }) }}">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
