{% extends 'base.html.twig' %}

{% block body %}
    <div>
    <h1>Create category</h1>

        {% if not form.vars.valid %}
            <div class="alert alert-danger">
                <p>
                    {{ form_errors(form.name) }}
                </p>
                <p>
                    {{ form_errors(form.description) }}
                </p>
                <p>
                    {{ form_errors(form.tags) }}
                </p>
                <p>
                    {{ form_errors(form.code) }}
                </p>
                <p>
                    {{ form_errors(form.position) }}
                </p>

            </div>
        {% endif %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="form-group">
            <label>Category name</label>
            {{ form_widget(form.name) }}
        </div>
        <div class="form-group">
            <label>Description</label>
            {{ form_widget(form.description) }}
        </div>
        <div class="form-group">
            <label>Tags</label>
            {{ form_widget(form.tags) }}
        </div>
        <div class="form-group">
            <label>Code</label>
            {{ form_widget(form.code) }}
        </div>
        <div class="form-group">
            <label>Position</label>
            {{ form_widget(form.position) }}
        </div>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('category_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>
{% endblock %}
