{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.description }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ category.slug }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ category.tags }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if category.status %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% if category.items | length > 0 %}
        {% include '@App/item/item_list.html.twig' with {'items' : category.items} %}
    {% endif %}
    <a href="{{ path('category_index') }}">Back to the list</a><br />
    <a href="{{ path('category_edit', { 'id': category.id }) }}">Edit</a>

</div>
{% endblock %}
