{% extends 'base.html.twig' %}

{% block body %}
    <h1>Item edit</h1>

    {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-primary" value="Edit" />
    {{ form_end(edit_form) }}

    <br />
    <div>
            <a href="{{ path('item_index') }}">Back to the list</a>
    </div>
{% endblock %}
