{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {% for message in app.flashes('success') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        {% include '@App/item/item_list.html.twig' with {'items' : items} %}
    </div>
{% endblock %}
