<h1>Items list</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Code</th>
        <th>Slug</th>
        <th>Type</th>
        <th>Instock</th>

        <th>Id</th>
        <th><a href="{{ path('item_new') }}">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a></th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td><a href="{{ path('item_show', { 'id': item.id }) }}">{{ item.name }}</a></td>
            <td>{{ item.description }}</td>
            <td>{{ item.code }}</td>
            <td>{{ item.slug }}</td>
            <td>
                {% if item.type ==0 %}
                    Desktop software
                {% elseif item.type == 1 %}
                    Web application
                {% else %}
                    Mobile application
                {% endif %}
            </td>
            <td>{% if item.inStock %}Yes{% else %}No{% endif %}</td>
            <td>{{ item.id }}</td>
            <td>
                <a href="{{ path('item_delete', { 'id': item.id }) }}"> <i class="fa fa-trash"
                                                                           aria-hidden="true"></i></a>
                <a href="{{ path('item_edit', { 'id': item.id }) }}"><i class="fa fa-edit"
                                                                        aria-hidden="true"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>