{% extends 'base.html.twig' %}

{% block body %}
    <h1>Item</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ item.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ item.description }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ item.code }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ item.slug }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ item.type }}</td>
            </tr>
            <tr>
                <th>Instock</th>
                <td>{% if item.inStock %}Yes{% else %}No{% endif %}</td>
            </tr>

            <tr>
                <th>Id</th>
                <td>{{ item.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('item_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('item_edit', { 'id': item.id }) }}">Edit</a>
        </li>

    </ul>
{% endblock %}
