{% extends 'base.html.twig' %}

{% block body %}
    <h1>User edit</h1>

    {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" class="form-control" />
        </div>

        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-primary" />
    {{ form_end(edit_form) }}
{% endblock %}
