{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>username</th>
            <th>email</th>
            <th>Company</th>
            <th>Address</th>
            <th>Phone</th>
            <th><a href="{{ path('user_new') }}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.company }}</a></td>
                <td>{{ user.address }}</td>
                <td>{{ user.phone }}</td>
                <td>
                    <a href="{{ path('user_delete', { 'id': user.id }) }}"><i class="fa fa-trash"
                                                                              aria-hidden="true"></i></a>
                    <a href="{{ path('user_edit', { 'id': user.id }) }}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
