{% extends 'base.html.twig' %}

{% block body %}
    {% if app.session.flashbag.peekAll|length > 0 %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h1>Profile update</h1>

    {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="form-group">
            <label>Email</label>
            <span>{{ user.email }}</span>
        </div>

    <div class="form-group">
        <label>Username</label>
        <span>{{ user.username }}</span>
    </div>

    <div class="form-group">
        <label>Roles</label>
        <span>
            {% for role in user.roles %}
                {{ role }}
            {% endfor %}
        </span>
    </div>

    <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" class="form-control" />
        </div>

        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-primary" />
    {{ form_end(edit_form) }}
{% endblock %}
